nav.top-menu
  //- DRY - Dont Repeat Yourself
  a(
    href="this is it"
    title="I am a better description"
  ) Link 1
  hr
  hr
  each aRandomNameOfMyChoice, key in data['top-menu']
    a.top-menu__link(
      href=aRandomNameOfMyChoice.link
      title="Change me"
      target=key ? "_blank" : ''
      class=aRandomNameOfMyChoice.status === 'green' ? 'green' : ''
    )= `${aRandomNameOfMyChoice.icon} ${aRandomNameOfMyChoice.label}`
